.check_container { display:block;position:relative;padding-left:35px;margin:1px 10px;cursor:default;font-size:22px;user-select:none; }
.check_container input { position:absolute;opacity:0;cursor:pointer;height:0;width:0; }

.check_container input ~ .check_span { background-color:#fff;border:1px solid grey; }
.check_container input:hover ~ .check_span { background-color:#f0ffd9; }
.check_container input:checked ~ .check_span { background-color:green; }
.check_container input:checked ~ .check_span:after { display:block; }

.check_container .check_span:after {
    left:6px;top:3px;width:5px;height:10px;border: solid white;border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);
}

.check_span { position:absolute;top:0;left:0;height:22px;width:22px;background-color:#eee; }
.check_span:after { content:"";position:absolute;display:none; }

.button_food {background-color: green; border: none; color: white; text-align: center; text-decoration: none; display: inline-block; font-size: 20px; cursor: pointer; border-radius: 2px; width: 25px;
}
.button_food:hover {background-color: green; color: white;
}
