body { background:#fafafa;margin:0 5%;width:90%; }
body * { box-sizing:border-box;display:inline-block;font-family:'Trebuchet MS', sans-serif;font-size:16pt; }

#header {
    background-color:#daf0b9;
    padding:20px 0;
    text-align:center;
    width:100%;
}
#header a {
    color:green;
    font-size:24pt;
    font-weight:600;
    text-decoration:none;
}

#index-list { border-bottom:1px solid green;border-top:1px solid green;width:100%; }
#index-list div { float:left;text-align:center;width:12%; }
#index-list a { color:green;padding:10px 0;text-decoration:none;width:100%; }
#index-list div:hover { background:#f0ffd9; }
#logo { margin-top:50px;text-align:center;width:100%; }


#main-box { width:100%; }
#left-panel { float:left;width:50%; }
#right-panel { float:right;width:50%; }

#form, #reservations, #table-selection, #food-selection, #result, #impressum, #customerInfo { background:#f2f2f2; }

#form {
    float:left;
    margin:30px 4%;
    min-height:600px;
    padding:10px 4%;
    width:92%;
}

#submit-button {
    cursor:pointer;
    float:left;
    margin:30px 4%;
    text-align:center;
    width:92%;
}
#submit-button a {
    background:#c6e2ff;
    padding:10px 4%;
    text-decoration:none;
}
#submit-button a:hover {
    background-color:#8ec5ff;
}

#reservations {
    float:left;
    margin:30px 4%;
    padding:10px 4%;
    width:92%;
}
#reservations td, #reservations th {
    padding:5px 0;
}

#table-selection {
    float:right;
    margin:30px 4%;
    padding:10px 4%;
    width:92%;
}

#food-selection {
    float:right;
    margin:0 4%;
    padding:10px 4%;
    width:92%;
}

#result {
    margin:30px 2%;
    min-height:700px;
    width:96%;
}

#impressum {
    margin:30px 2%;
    min-height:700px;
    padding:10px 2%;
    width:96%;
}

#date_time_container {
    display: flex;
    width: 100%;
    padding: 10px;
}

#data_container {
    margin-top:45px;
    width: 100%;
}

#date {
    width: 40%;
    height: 100%;
}

.select-date { width:100%; }

#select-day {
    border: 1px solid black;
    float:left;
    border-radius: 4px;
    width:30%;
}

#select-month {
    border: 1px solid black;
    float:left;
    border-radius: 4px;
    margin-left:10%;
    width:60%;
}

#spacing {
    width: 20%;
    height: 100%;
}

#time {
    margin-left:10%;
    width: 20%;
    height: 100%;
}
#time_content {
    border: 1px solid black;
    border-radius: 4px;
    width:100%;
}

#name {
    width: 100%;
}

#name_content {
    border: 1px solid black;
    width: 80%;
    border-radius: 4px;
    background-color: white;
    display: inline-block;
    padding: 8px 20px;
}

#email {
    margin-top:20px;
    width: 100%;
}

#email_content {
    border: 1px solid black;
    width: 80%;
    border-radius: 4px;
    background-color: white;
    display: inline-block;
    padding: 8px 20px;
    font-family:'Trebuchet MS', sans-serif;
}

#seat {
    margin-top:20px;
    width: 30%;
}

#seat_content {
    border: 1px solid black;
    border-radius: 4px;
    width: 100%;
    font-family:'Trebuchet MS', sans-serif;
    padding: 5px;
}

#comment {
    margin-top:50px;
    width: 100%;
}

#comment_content {
    border: 1px solid black;
    width: 100%;
    border-radius: 4px;
    background-color: white;
    padding: 8px 20px;
    height: 200px;  
}

#food_text { margin-top:10px; }

table {
	width: 100%;
	border-collapse: collapse;
	display: table;
}

td, th {
	border: 1px solid green;
	display: table-cell;
	text-align: center;
}

tr { display: table-row; }
tr:nth-child(even) { background-color: #dddddd; }
tr:hover { background:#f0ffd9; }

tbody { display: table-row-group; }
thead { display: table-header-group;}

#customerInfo {
    float:right;
    margin:30px 4%;
    min-height:200px;
    padding:10px 4%;
    width:92%;
}

#alert, #confirm-alert {
    border:1px solid #000;border-radius:3px;background-color:#fff;display:none;left:35%;padding:20px;
    position:absolute;text-align:center;top:300px;width:30%;
}
#alert p, #confirm-alert p { margin:10px 0 30px 0;padding:0; }
#alert button, #confirm-alert button { min-width:15%; }
